@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'JetBrains Mono', monospace;
}

@keyframes text-shine {
  0% {
    background-position: -200% center;
  }
  100% {
    background-position: 200% center;
  }
}
